<ng-template #unrealEngineModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Friki Bomb</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <img class="img-fluid rounded mb-5" src="assets/images/portfolio/UE.jpg" alt="" />
                    <p class="mb-4">
                        Dentro de mis capacitaciones constantes, he realizado el curso de
                        Mariano Rivas "<a
                            href="https://www.udemy.com/course/master-en-creacion-de-videojuegos-aaa-con-unreal-engine/"
                            target="_blank">Master
                            Unreal Engine 4 Desarrollo Videojuegos con Blueprints</a>". A continuacion, se
                        puede apreciar algunas practicas realizadas en el mismo:
                    </p>

                    <p class="mb-1">
                        Prototipo de juego puzzle:
                    </p>

                    <!--iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/uqtZDjh3id8"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe-->

                    <p class="mb-1">
                        Practica de render y armado de terreno:
                    </p>
                    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/G_hqggUQiZU"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe-->

                    <p class="mb-1">
                        Prototipo desarrollado con Blueprints:
                    </p>
                    <!--iframe width="560" height="315" src="https://www.youtube.com/embed/WSYTK0ZRDA8"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe-->

                    <p class="mb-1">
                        El prototipo esta disponible para probar: <a
                            href="https://drive.google.com/file/d/13HZ5gT7512YqdOCjgTcx7W_GjGD5SM55/view?usp=sharing"
                            target="_blank">Windows x64</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>