<section class="page-section parallax text-white mb-0" id="info">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">
            Sobre Mi
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><fa-icon [icon]="faCodeIcon"></fa-icon></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <p class="lead">
                Me caracterizo por ser autodidacta, comprometido y mantener una
                amplia predisposición por el aprendizaje. Estoy comenzando la carrera de Analista Programador.
            </p>
            <p class="lead">
                Hace 6 años me desenvuelvo como programador full stack
                en el rubro salud.
                Me encuentro trabajando con diversas tecnologías, por ejemplo, Visual
                Basic 6, PHP 5 y 7, Bootstrap (CSS), Javascript (jQuery, NodeJS), MySQL, Intersystem Cache y
                Genexus.
            </p>
            <p class="lead">
                Soy un gran aficionado al desarrollo de videojuegos y aspiro a ingresar en la industria. Me
                encuentro capacitándome
                constantemente en el área. El motor grafico en el que cuento con más conocimientos es Unity Engine.
            </p>
        </div>
    </div>
</section>