<section class="page-section parallax mb-0 text-white">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-white">
            Sobre Mi
        </h2>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <fa-icon [icon]="faCodeIcon"></fa-icon>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row mb-5">
            <p class="lead">
                Soy desarrollador full stack desde el 2015 y desde entonces he desarrollado múltiples soluciones en
                diversas
                tecnologías.
                Busco constantemente ser mejor profesional y sumar valor al equipo de trabajo con el que esté.
                Disfruto de compartir mis conocimientos y de desarrollar videojuegos.
            </p>
            <p class="lead">
                Me caracterizo por ser autodidacta, comprometido y mantener una amplia predisposición por el
                aprendizaje.
            </p>
            <p class="lead">
                Busco constantemente ser mejor profesional y sumar valor al equipo de trabajo con el que esté.
                Disfruto de compartir mis conocimientos y de desarrollar videojuegos.
            </p>
        </div>

        <div class="skills">
            <span class="badge text-bg-primary vb-color">Visual Basic</span>
            <span class="badge text-bg-warning php-color">PHP</span>
            <span class="badge text-bg-primary codeigniter-color">CodeIgniter</span>
            <span class="badge text-bg-primary bootstrap-color">Bootstrap</span>
            <span class="badge text-bg-warning javascript-color">Javascript</span>
            <span class="badge text-bg-primary typescript-color">Typescript</span>
            <span class="badge text-bg-primary node-color">Node</span>
            <span class="badge text-bg-primary csharp-color">C#</span>
            <span class="badge text-bg-primary java-color">Java</span>
            <span class="badge text-bg-primary spring-color">Spring Boot</span>
            <span class="badge text-bg-primary docker-color">Docker</span>
            <span class="badge text-bg-primary angular-color">Angular</span>
            <span class="badge text-bg-primary junit-color">JUnit</span>
            <span class="badge text-bg-primary mysql-color">MySQL</span>
            <span class="badge text-bg-primary mongodb-color">MongoDB</span>
            <span class="badge text-bg-primary cache-color">Intersystem Cache</span>
            <span class="badge text-bg-primary genexus-color">Genexus</span>
        </div>
    </div>
</section>