<ng-template #tankArModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Friki Bomb</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <img class="img-fluid rounded mb-5" src="assets/images/portfolio/TankAR.jpg" alt="" />

                    <p class="mb-5">
                        TankAR es un prototipo de un videojuego en Realidad Aumentada.
                    </p>

                    <p class="mb-5">
                        Se desarrollo en Unity 2018, Vuforia 7 y MagicaVoxel.
                    </p>

                    <a class="btn btn-outline-danger btn-social mx-1" href="https://youtu.be/5BslG3sP9Ak"
                        target="_blank"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/Cundalf/TankAR"
                        target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</ng-template>