<section class="page-section experiencia">
	<div class="container">
		<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
			Experiencia
		</h2>


		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<fa-icon [icon]="faCodeIcon"></fa-icon>
			</div>
			<div class="divider-custom-line"></div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-2">
				<a href="https://laslomas.com.ar/">
					<img width="100%" src="assets/images/empresas/sanatoriolaslomas.png" alt="Sanatorio Las Lomas Logo">
				</a>
			</div>
			<div class="col-sm-10">
				<p class="lead p-3">
					Durante 7 años, tuve el privilegio de trabajar en el Sanatorio Las Lomas, donde desempeñé el rol
					de desarrollador full stack. Durante mi tiempo allí, trabajé con una amplia gama de tecnologías,
					incluyendo Visual Basic, PHP, Codeigniter, Intersystem Cache, MySQL y NodeJS. Contribuí al
					crecimiento de la organización al proporcionar soluciones informáticas innovadoras y, además,
					tuve la oportunidad de liderar y coordinar un equipo de desarrollo con diferentes habilidades.
				</p>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-10">
				<p class="lead p-3">
					A principios de 2022, di un paso adelante en mi carrera al unirme a Grupo Esfera como Desarrollador Agil
					Full Stack, donde he estado trabajando con tecnologías de vanguardia como Docker, Java y Angular, y
					aplicando prácticas como TDD, BDD y CI/CD, utilizando herramientas como Cucumber, Cypress, GitLab CI, JUnit,
					entre otras.
				</p>
			</div>
			<div class="col-sm-2">
				<a href="https://www.grupoesfera.com.ar/">
					<img width="100%" src="assets/images/empresas/grupoesfera.png" alt="Sanatorio Las Lomas Logo">
				</a>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-sm-2">
				<a href="https://linktr.ee/estudiopamba/">
					<img width="100%" src="assets/images/empresas/estudiopamba.png" alt="Sanatorio Las Lomas Logo">
				</a>
			</div>
			<div class="col-sm-10">
				<p class="lead p-3">
					Además, mi pasión por el desarrollo de videojuegos me llevó a desempeñar rol de Game Designer en Estudio
					PAMBA, donde estamos dando vida al videojuego argentino de sigilo "Pombero - La leyenda de Yará".
				</p>
			</div>
		</div>
	</div>
</section>
