<ng-template #loeModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Friki Bomb</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">

                    <img class="img-fluid rounded mb-5" src="assets/images/portfolio/LogoLoE.jpg" alt="" />
                    <p class="mb-5">
                        Legend Of Engla es el prototipo de un videojuego RPG. Fue desarrollado durante el curso
                        "Aprende a crear un videojuego RPG en Unity 2019 desde cero"
                        El desarrollo se encuentra parado en este momento. La version final del juego tiene como
                        objetivo tener una historia muy subjetiva a los ojos de cada jugador.
                    </p>
                    <p class="mb-5">
                        Desarrollado en Unity 2019 con assets gratuitos (respetando sus correspondientes
                        licencias).
                    </p>

                    <a class="btn btn-outline-danger btn-social mx-1" href="https://cundalf.itch.io/loe"
                        target="_blank"><i class="fab fa-itch-io"></i></a>
                    <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/Cundalf/LegendOfEngla"
                        target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</ng-template>