<ng-template #CoquitoModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Coquito</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">

					<img class="img-fluid rounded mb-5" src="assets/images/portfolio/cocos.jpg" />

					<p class="mb-5 font-italic">
						Coquito En La Tierra es un videojuego desarrollado con fines educativos en el curso de Desarrollo de Videojuegos con Cocos Creator de la UTN Buenos Aires.
					</p>

					<div class="text-center">
						<a class="btn btn-outline-danger btn-social mx-1" href="https://cundalf.itch.io/coquito"
						   target="_blank"><fa-icon [icon]="faItchIcon"></fa-icon></a>
						<a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/Cundalf/Coquito"
						   target="_blank"><fa-icon [icon]="faYoutube"></fa-icon></a>
						<a class="btn btn-outline-danger btn-social mx-1" href="https://youtu.be/pb0QAfjUW2w"
						   target="_blank"><fa-icon [icon]="faYoutube"></fa-icon></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
